<li class="marquee__item">SAP S/4HANA</li>
<li class="marquee__item">FICO</li>
<li class="marquee__item">MM</li>
<li class="marquee__item">SD</li>
<li class="marquee__item">PP</li>
<li class="marquee__item">ABAP</li>
<li class="marquee__item">BASIS</li>
<li class="marquee__item">Fiori</li>
<li class="marquee__item">Solution Manager</li>
<li class="marquee__item">Salesforce</li>
<li class="marquee__item">Data Science</li>
<li class="marquee__item">Cloud</li>
<li class="marquee__item">Software Testing</li>
<li class="marquee__item">Java</li>
<li class="marquee__item">.NET</li>
